/* =============
    Section 6
============= */

.part4 {
    background: #ffd772;
    margin-top: 20px;
    clear: both;
    padding: 20px;
    margin-bottom: 20px;
}

.part4 h3,

.part4 img {
    width: 30%;
    display: inline-block;
}

.part4 h3 {
    font-size: 40px;
    vertical-align: top;
    padding-top: 200px;
    padding-left: 100px;
    text-align: left;
}

.part4 h3 span {
    display: block;
    font-size: 30px;


    text-align: left;



}



.part4 img {
    padding-top: 150px;
    padding-left: 30px;
}

.part4 h5.button {
    display: inline-block;
    background: orange;
    cursor: pointer;
    font-size: 30px;
    padding: 20px;
    margin: 0px;
    margin-left: 1100px;

}

.button2 {
    text-align: right;
}
