/* =============
    Section 1
============= */


nav {
    margin-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 25%;
    margin: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 15px 30px;
    background: orange;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000
}

.about {
    display: block;
    margin-left: 1093px;
    margin-top: -57px;
    background-color: orange;
    text-align: center;

}

.about:hover {
    background: #ffd772;
}

nav ul li a:hover {
    background: #ffd772;
}