/* =============
    Header
============= */
.container {
    padding: 10px 10px 20px 20px;
    background-color: orange;
    text-align: center;
}

.container h1 {
    font-size: 70px;
    background: #ffd772;
    display: inline-block;
    padding: 20px;
}

.container h1 span {
    font-size: 30px;
    text-transform: uppercase;
}

.container img {
    vertical-align: bottom;
    margin-left: 50px;
    padding-bottom:50px;

}